<div class="row m-3">
    <a routerLink="/searchBook">Back</a>
</div>
<div class="register-form create-card mb-4 p-4" style="margin:0 25%">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="text-white">Title</label>
            <input type="text" formControlName="title" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                <div *ngIf="f['title'].errors['required']">Title is required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white">Category</label>
            <input type="text" formControlName="category" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['category'].errors }" />
            <div *ngIf="submitted && f['category'].errors" class="invalid-feedback">
                <div *ngIf="f['category'].errors['required']">Category is required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white">Price</label>
            <input type="text" formControlName="price" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" />
            <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                <div *ngIf="f['price'].errors['required']">Price is required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white">Publisher</label>
            <input type="text" formControlName="publisher" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['publisher'].errors }" />

        </div>

        <div class="form-group">
            <label class="text-white">Active</label>
            <input type="text" formControlName="active" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['active'].errors }" />

        </div>

        <div class="form-group">
            <label class="text-white">Content</label>
            <!-- <input type="textarea" formControlName="content" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['content'].errors }" /> -->
                <textarea formControlName="content" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['content'].errors }" rows="3"></textarea>
        </div>

        <div class="form-group">
            <ng-container *ngIf="bookId; else Update">
                <button type="button" (click)="updateBook()" class="btn btn-primary float-right ml-3">Update</button>
            </ng-container>

            <ng-template #Update>
                <button type="button" (click)="onSubmit()" class="btn btn-primary float-right ml-3">Create</button>
            </ng-template>
            <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
            </button>
        </div>

    </form>
</div>