<div class=" row register-form mb-3 p-4" style="justify-content: center; margin: 0 25%;">
    <div class="form-group">
        <button type="button" class="btn btn-primary float-right ml-3" (click)="searchAllBooks()">Search All
            Book</button>
    </div>
</div>

<div class="row" style="justify-content: center;">
    <ng-container *ngIf="bookList">
        <div *ngFor="let book of bookList;" class="card border-secondary col-md-9 p-0 m-3" style="max-width: 18rem;">
            <div class="card-header search-card bg-success d-flex text-white font-weight-bold">
                <h3>{{book.title}}</h3>
            </div>
            <div class="card-body text-secondary pb-0" style="background: oldlace;">
                <h4 class="card-title">{{book?.category}}</h4>
            </div>
            <div class="card-body text-secondary" style="background: oldlace;">
                <span class="d-flex">
                    <h4 class="card-title text-dark">Price - </h4>
                    <h4 class="card-text ">{{book?.price}}</h4>
                </span>
                <span class="d-flex">
                    <h4 class="card-title text-dark">Publisher - </h4>
                    <h4 class="card-text">{{book?.publisher}}</h4>
                </span>

            </div>
        </div>
    </ng-container>
</div>